<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>I shorten URLs</title>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<style>
body {
    font-family: sans-serif;
    line-height: 1.5em;
}
input[type=url] {
    width: 50em;
    margin: auto 0.5em;
    border: none;
    border-bottom: 1px dotted black;
}
</style>
</head>
<body>
<h1>I shorten URLs</h1>
<form action="/shorten">
    <p>
        What URL would you liked shortened? <input type="url" name="url" placeholder="http://example.com">
    </p>
    <p><input id="shorten" type="button" value="Make it so! 👉"></p>
    <p>
        Here you go <input type="url" name="redirect">.
    </p>
</form>
<script>
$("#shorten").click(function() {
    var form = $(this).parents("form");
    var action = form.attr("action");
    $.post(action, form.serialize(), function(data) {
        $(form).find("input[name=redirect]").val(data.short_url);
    });
});
$("input[type=url]").click(function() {
    $(this).select();
});
</script>
</html>
